/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

html::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: #f1f1f1;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

html::-webkit-scrollbar-corner {
  background: transparent;
}

.dark body {
  background-color: #212529;
  color: #F8F9FA;
}

body {
  min-height: 100vh;
  color: #212529;
  background-color: #F8F9FA;
}

.bg_main_image {
  background-image: url("@/public/images/homestay.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 70%;
}

.main_container {
  @apply container mx-auto;
}

.btn_nude {
  @apply bg-transparent text-neutral-50 transition-colors hover:bg-neutral-50 hover:bg-opacity-30;
}

.animation_slideUp {
  animation: slideUp 2s;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@keyframes slideUp {
  0%   {opacity: 0.3; transform: translateY(100%);}
  100% {opacity: 1; transform: translateY(0);}
}

.animation_slideToRight {
  animation: slideToRight 0.5s;
}

@keyframes slideToRight {
  0%   {opacity: 0.3; transform: translateX(-100%);}
  100% {opacity: 1; transform: translateX(0);}
}

@media (min-width: 640px) {
  .main_container {
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .main_container {
    max-width: 1024px;
  }
}

@media (min-width: 1024px) {
  .main_container {
    max-width: 1280px;
  }
}

.hover_image_scale:hover img {
  transform: scale(1.1);
  @apply transition-all
}
